body {
  color: white;
  background-color: #212121;
  font-family: 'Nunito', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header__title {
  font-size: 1.5rem;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.header__desc {
  margin-top: -0.5rem;
  font-size: 0.8rem;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__input {
  border: 1px solid #212121;
  border-radius: 4px;
  background-color: white;
  /* box-shadow: 0px 0px 2px #2b2b2b; */
}

.search-form__input::placeholder {
  text-align: center;
}

.search-form__button {
  width: 5rem;
  margin-top: 5px;
  border: 1px solid #2b2b2b;
  color: white;
  background-color: #2b2b2b;
}

.search-header {
  margin-top: 1rem;
  font-size: 1.5rem;
  border-top: 1px solid white;
}

.search-header--text {
  padding-top: 1rem;
}

.width-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  background-color: #212121;
  max-width: 909px;
}

.card {
  flex-shrink: 0;
  width: 49.47%;
  height: 5rem;
  align-items: center;
  text-align: center;
  /* margin: 1rem 1rem 1rem 1rem; */
  border: 1px solid #212121;
  background-color: #2b2b2b;
}

.search-header {
  text-align: center;
  margin-bottom: 1rem;
}

.card-upper {
  position: relative;
  width: 100%;
  height: 7rem;
  border: 1px solid #212121;
  justify-content: center;
}

.card-upper__photo {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card__degree {
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
  left: 45%;
  top: 35%;
  /* margin: 10% 0 0 42%; */
  /* margin-top: -5rem; */
  z-index: 2;
}

.card__feels-like {
  text-align: center;
}

.card__header {
    font-size: 0.7rem;
    margin-top: 3px;
}

.card__desc {
  display: block;
  font-size: 2rem;
  margin-top: 7px;
}

.card__condition {
  align-items: center;
}

.card__condition--header {
  position: relative;
  font-size: 0.7rem;
  margin-top: 3px;
  z-index: 1;
}

.card__condition--photo {
  position: absolute;
  height: 2rem;
  width: 2rem;
  margin: -0.1rem 0 0 -5.5rem;
  z-index: 0;
}

.card__condition-desc {
  /* position: absolute; */
  padding-right: 4rem;
}

.card__wind--ms {
/*   position:absolute; */
  display: inline-block;
  font-size: 0.7rem;
/*   left: 10px;
  top: 15px; */
/*   margin: -1.2rem 0 0 5.5rem; */
}

.card__aqi--icon {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: -4rem;
  height: 1.7rem;
  width: 1.7rem;
  color: white;
}

#sky {
  fill: url(#skyGradient);
}

.background {
  height: 7rem;
  width: 100%;
  z-index: -1;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/starfield_stock_1.jpg); 
  overflow: hidden;
  /* position: absolute; */
}

@keyframes suntrack {	
  from { transform: rotate(-.30turn); }
  to { transform: rotate(.70turn); }
}

@keyframes sunpulse { 
   from { box-shadow: 0 0 100px #ff0, 0 0 100px #ff0; }
  to { box-shadow: 0 0 50px #ff0, 0 0 75px #ff0;  }
}
/* body { margin: 0; 
  background-color: #000;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/starfield_stock_1.jpg); 
  background-size:cover;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
} */
.sun {
  width: 15vw;
  height: 15vw;
  background: #ff0;
  background: radial-gradient(ellipse at center, #f90 0%,#fc0 60%,#ff0 100%);
  border-radius: 100%;
  /* position: absolute; */
  bottom: -7vw;
  right: 7vw;
  transform-origin: 50vw 20vw;
  animation: suntrack 24s infinite forwards linear, sunpulse 2s alternate infinite; 
}
.moon { 
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moon8.png);
  width: 15vw;
  height: 15vw;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 90%;
  border-radius: 100%;
  bottom: -7vw;
  right: 7vw;
  transform-origin: 50vw 20vw;
  animation: moontrack 30s infinite forwards linear;
  opacity: .8;
}

@media screen and (max-width: 374px) {
  .card {
    width: 100%;
  }
  /* .card__condition-desc {
    margin-left: 2rem;
  } */
  .card__condition {
    text-align: center;
  }
  .card__condition--photo {
    position: absolute;
    margin: 0.4rem 0 0 -8rem;
    z-index: 0;
  }
}

@media screen and (min-width: 480px) {
  .card__condition--photo {
    position: absolute;
    margin: -0.1rem 0 0 -7.5rem;
    z-index: 0;
  }
}

@media screen and (min-width: 600px) {
  .card__condition--photo {
    position: absolute;
    margin: -0.1rem 0 0 -8.5rem;
    z-index: 0;
  }
}

@media screen and (min-width: 750px) {
  .sun {
    width: 4rem;
    height: 4rem;
    transform-origin: 24rem 20rem;
  }

  .moon {
    transform-origin: 24rem 20rem;
  }

  .card {
    width: 370px;
  }
  .card-upper {
    text-align: center;
    width: 744px;
    height: 8rem;
  }
  .card-upper__photo {
    width: 740px;
  }

  .card__condition--photo {
    position: absolute;
    margin: -0.1rem 0 0 -11rem;
    z-index: 0;
  }

  .card__degree {
    font-size: 3rem;
    margin: -1rem 0 0 0.5rem;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__desc {
    font-size: 1.3rem;
  }

  .search-form__input {
    height: 1.5rem;
  }
  
  .search-form__button {
    height: 2rem;
    width: 7rem;
  }
}

/* @media screen and (min-width: 1100px) {
  .card-container {
    margin: 0 10rem 0 10rem;
  }
}

@media screen and (min-width: 1400px) {
  .card-container {
    margin: 0 20rem 0 20rem;
  }
} */